---
title: Home
layout: blank
---
{% include page_head.html %}

{% include nav.html %}

<div class="jumbotron">
	<div class="container">
		<div class="claim">
			<img alt="CYCLONE" src="/assets/images/CYCLONE-LOGO-WHITE.png" >
			<p class="lead">Manage federated, multi-cloud applications like a breeze.</p>
		</div>
	</div>  
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>What does CYCLONE revolve around?</h1>
			<h2>
				<a href="software.html">
					<span class="fa-stack">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
					</span>
					&nbsp;DevOps Tools
				</a>
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<p class="lead"><a href="/software.html#nuvla">Nuv.la</a> - multi-cloud deployment automation</p>
		</div>
		<div class="col-md-4">
			<p class="lead"><a href="/software.html#opennaas">OpenNaaS</a> - software-defined network controller</p>
		</div>
		<div class="col-md-5">
			<p class="lead"><a href="/software.html#fp">CYCLONE Federation Provider</a> - federated authentication and authorization</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12"><p><a href="/software.html" class="btn btn-lg btn-info"><i class="fa fa-terminal fa-inverse"></i>&nbsp;&nbsp;More CYCLONE tools</a></p></div>
	</div>
	<div class="row">
		<div class="col-xs-12">

			<h2>
				<a href="/research.html">
					<span class="fa-stack">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-university fa-stack-1x fa-inverse"></i>
					</span>
					&nbsp;Research
				</a>
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3"><p class="lead"><i class="fa fa-inverse fa-exchange"></i>Matchmaking and Brokering of Cloud Resources</p></div>
		<div class="col-md-3"><p class="lead"><i class="fa fa-inverse fa-lock"></i>Dynamic access control and secure trust bootstrapping</p></div>
		<div class="col-md-3"><p class="lead"><i class="fa fa-inverse fa-key"></i>Attribute-based encryption</p></div>
		<div class="col-md-3"><p class="lead"><i class="fa fa-inverse fa-tachometer"></i>SLA optimization of Cloud Resources</p></div>
			<p><a href="/software.html" class="btn btn-lg btn-info btn-block"><i class="fa fa-university fa-inverse"></i>&nbsp;&nbsp;See our research</a></p>
			<h2>
				<a href="/usecases.html">
					<span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-users fa-stack-1x fa-inverse"></i></span>
					&nbsp;Use Cases
				</a>
			</h2>
			<ul class="fa-ul">
				<li><p class="lead"><i class="fa fa-li fa-inverse fa-flask"></i>Self-service bioinformatics cloud</li>
				<li><p class="lead"><i class="fa fa-li fa-inverse fa-bolt"></i>Future energy market</p></li>
				<li><p class="lead"><i class="fa fa-li fa-inverse fa-key"></i>Attribute-based encryption</p></li>
				<li><p class="lead"><i class="fa fa-li fa-inverse fa-tachometer"></i>SLA optimization of Cloud Resources</p></li>
			</ul>
			<p><a href="/software.html" class="btn btn-lg btn-info btn-block"><i class="fa fa-university fa-inverse"></i>&nbsp;&nbsp;See our research</a></p>

		</div>
	</div>
</div>
{% include page_footer.html %}
