<div class="container news">
    <h2>News</h2>

    {% for post in site.posts %}
        <h3><span class="post_date">{{ post.date | date: "%e %b %y") }}</span><a href="{{post.url}}">{{ post.title }}</a><small><span class="disqus-comment-count" data-disqus-identifier="{{ post.id }}"></span></small></h3>

        {% assign content = post.content %}
        {% assign parts = content | split: '<!-- more -->' %}

        {{ parts | first }}

        <div class="news_footer">
            {% if parts.size > 1 %}
                <a href="{{post.url}}">Read more ...</a>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% assign count_comments = true %}