{% include page_head.html %}

{% include nav.html %}

<div class="jumbotron-small">
    <div class="container">
       <h1 class="csc-firstHeader">Contact Us</h1>
    </div>
</div>


<div class="container">
<div class="row equal">

<div class="col-md-4">
<h2>Project Coordinator</h2>
<div></div><div>
	<p>Matteo Biancani<br />Interoute<br />
 <a href=mailto:matteo.biancani@interoute.com data-rel="external">Contact</a>
</p></div><div></div>
<h2><br />Technical Coordinator</h2>
<div></div>
<div>
	<p>Eduard Escalona<br />i2Cat<br /> 
	<a href=mailto:eduard.escalona@i2cat.net data-rel="external">Contact</a></p>
</div><div></div>
	<div><p><br />www.cyclone-project.eu</p></div>

</div>
</div>
</div>


{% include page_footer.html %}
