{% include page_head.html %}

{% include nav.html %}

<div class="jumbotron-small">
    <!-- <div class="container">
       <h1>CYCLONE</h1> 
       </div>-->
    <div class="container">
      <h1>Home</h1>
    </div>  
</div>

<div class="container">
    {{ content }}
</div>

<div class="container">
    <div class="row equal">
        <div class="col-md-6">
            {% include news.html limit=3 %}
        </div>
        <div class="col-md-4">
            <h2>Latest <a href="https://twitter.com/H2020_CYCLONE">@h2020_cyclone</a> tweets</h2>
            <a class="twitter-timeline" href="https://twitter.com/H2020_CYCLONE" data-widget-id="570930261509304320" data-chrome="noheader nofooter noborders"></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="col-md-2">
         <h2>Follow us</h2>
           {% for icon in site.data.social-icons %}
			  <a class="social-icon--link {{ icon.class }}" href="{{ icon.url }}">
				<img src= "{{ icon.class | prepend: 'assets/images/' | append: '.svg' }}" alt=cyclone-project@"{{ icon.class }}" width="42">
			  </a>
			{% endfor %} 
		</div>	
    </div>
</div>

{% include page_footer.html %}
