{% include page_head.html %}

{% include nav.html %}

<div class="jumbotron-small">
    <div class="container">
        <h1>{{ page.title }}</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9" role="main">
            <h2>Software Overview</h2>

            <table class="table table-striped table-bordered table-software sortable" markdown="0">
                <thead>
                <tr>
                    <th>Component</th>
                    <th>Partner</th>
                    <th>License</th>
                    <th>Links</th>
                </tr>
                </thead>
                <tbody>
                    {% for software in site.data.software %}
                        <tr>
                            <td><strong><a href="#{{ software.Component | downcase | replace: ' ', '-' }}">{{ software.Component }}</a></strong></td>
                            <td>{{ software.Partner }}</td>
                            <td>{{ software.License }}</td>
                            <td><a href="{{ software.Repository }}">Repo</a>&nbsp;|&nbsp;<a href="{{ software.Homepage }}">Website</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% for software in site.data.software %}
                {% capture slug %}{{ software.Component | downcase | replace: ' ', '-' }}{% endcapture %}

                <h2 id="{{ slug }}">{{ software.Component }}</h2>

                <h4>Links: <a href="{{software.Repository}}">Github Repository</a>, <a href="{{ software.Homepage }}">Software Homepage</a></h4>

                {% for description in site.software %}
                    {% if description.path contains slug %}
                        {{ description.content }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-md-3" role="complementary">
            <nav class="affix-nav hidden-print hidden-xs hidden-sm">
                <div id="toc"></div>
            </nav>
        </div>
    </div>
</div>

{% include page_footer.html %}