{% include page_head.html %}

{% include nav.html %}

<div class="jumbotron">
    <div class="container">
       <h1 class="csc-firstHeader">Contact Us</h1>
    </div>
</div>


<div class="container">
<div class="row equal">
<div id="c32" class="col-md-6">
<!--http://getsimpleform.com/messages?form_api_token=76c0c53d483f695746a0e9e778e69206-->

<h1>Thanks for your message.</h1>

<!-- alternative service
<form action="//formspree.io/ilke.zilci@tu-berlin.de" method="POST">
    <input type="text" name="name">
    <input type="email" name="_replyto">
    <input type="submit" value="Send">
</form> 
	-->

</div>

<div class="col-md-4">
<h2>Project Coordinator</h2>
<div></div><div>
	<p>Matteo Biancani<br />Interoute<br />
 <a href=mailto:matteo.biancani@interoute.com>matteo.biancani@interoute.com</a>
</p></div><div></div><h2><br />Technical Coordinator</h2>
<div></div><div><p>Eduard Escalona<br />i2Cat<br /> <a href=eduard.escalona@i2cat.net>eduard.escalona@i2cat.net</a></p></div><div></div><div><p><br />www.cyclone-project.eu</p>
</div>

</div>
</div>
</div>

{% include page_footer.html %}
